* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #333;
}

#container {
    background: #fff;
    margin: 48px auto;
    width: 1200px;
}

#map {
    width: 100%;
    height: 320px;
}

.mapboxgl-popup {
    padding-bottom: 8px;
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
    padding: 14px 12px 12px;
    text-align: center;
}

.mapboxgl-popup-close-button {
    height: 16px;
    width: 16px;
}

#searchbar {
    float: left;
    position: relative;
    top: -310px;
    left: 10px;
    width: 448px;
    height: 42px;
    font-size: 18px;
    padding: 0 12px;
}

#searchbar:focus {
    outline: none;
}

#text-container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 48px 120px;
}

#animated {
    height: 256px;
    margin: 36px auto 0;
    display: block;
}

.fb-share-button {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
}

.twitter-share-button {
    display: inline-block;
    margin: 32px auto 8px;
}

#social-container {
    text-align: center;
}

input[type=checkbox] {
    margin-right: 8px;
}

label {
    font-size: 16px;
    line-height: 24px;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 24px;
}

p {
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
}

h2 {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 32px;
    margin-top: 200px;
}

h3 {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
}
